/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #161111;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Cormorant Garamond", serif;
}

header {
    background-color: #161111;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10%;
}

header .logo {
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

header .logo img {
    height: 100px;
}

main {
    background-color: #161111;
    height: 100px;
    flex: 1;
    background-image: url(assets/fundo_hades.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main .cards-container {
    width: 90%;
    max-width: 1700px;
    margin: 25px auto;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    justify-content: center;
}

.card { 
    width: 300px;
    height: 350px;
    border: 3px solid #F2C94C;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(242, 201, 76, 0.4);
    color: white; transition: transform 0.3s; 
    display: flex;
} 

.card:hover { 
    transform: scale(1.05);
}

.content {
    display: flex;
}

.card img { 
    height: 100%;
    margin-bottom: 15px; 
} 
.nome { 
    font-size: 40px; 
    color: #F2C94C; 
    font-weight: bold; 
    text-align: center;
    margin: 15px 0px;
} 

.titulo { 
    font-size: 18px; 
    margin-bottom: 30px; 
    color: #F2C94C; 
    text-align: center;
} 

.info { 
    font-size: 15px; 
    margin: 14px 10px; 
} 

.frase { 
    text-align: center;
    font-style: italic; 
    font-size: 18px; 
    color: #ccc;
    margin: 0px 4px;
}

footer {
    background-color: #161111;
    padding: 5px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #A61B1B;
    font-weight: 700;
}